





<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div style="float:right">
                <%= render 'form' %>
            </div>
        </div>
        <div class="col-md-4">
            <span>
                <%= link_to 'Back', gift_records_path %>
            </span>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>


