@font-face {
    font-family: 'newspaper';
    src: url('/assets/OldNewspaperTypes.ttf') format('truetype');;
}
@font-face {
    font-family: 'handwriting';
    src: url('/assets/typeo___.ttf') format('truetype');
}
@font-face {
    font-family: 'typewriter';
    src: url('/assets/Essays1743.ttf') format('truetype');
}

@font-face {
    font-family: 'quickhand';
    src: url('/assets/Quikhand.ttf') format('truetype');
}
@font-face {
    font-family: 'simple_joys';
    src: url('/assets/simple_joys.ttf') format('truetype');
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('/assets/glyphicons-halflings-regular.eot');
    src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/glyphicons-halflings-regular.woff') format('woff'),
    url('/assets/glyphicons-halflings-regular.ttf') format('truetype'),
    url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/*https://stackoverflow.com/questions/18294150/how-to-use-fonts-in-rails-4*/