
<%= stylesheet_link_tag "bootstrap.min" %>
<%= javascript_include_tag "jquery-2.1.3.min" %>
<%= javascript_include_tag "bootsrtap.min" %>

<header>
    <h2>Advice from an old programmer </h2>
</header>

<div class="container">

    <div class="row">
        <div class="col-md-4">
        </div>

        <div class="col-md-4">
                <%= @advice %>

        </div>

        <div class="col-md-4">
        </div>
    </div>

</div>


<footer>

</footer>